* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
    margin: 0;
    position: relative;
    padding-bottom: 60px;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3 {
      font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 4.2rem;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 3.6rem;
  letter-spacing: 0.1rem;
}

p {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}

span {
  font-weight: 600;
  font-size: 1.8rem;
}

/*-----------------nav----------------*/
.nav-logo a i {
  font-size: 2rem;
}

input {
  display: none;
}

.nav-container {
  overflow: hidden;
  width:100%;
  position: fixed;
  padding:
  z-index: 2
}



.nav-logo {
  float: left;
  position: relative;
  height: 20px;
}


.menu {
  float: right;
  padding: 40px 50px 30px 0px;
}

/*--------- getting rid of the link underline   --------*/
a:link {
    text-decoration: none;
}

nav li {
  display: inline;
  margin: 0px 30px;
  font-family: 'Oswald', sans-serif;
}

nav li a {
  color: #333333;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}


.main-nav li {
  position: relative;
}

/* .menu-icon img {
  display: none!important;
} */

.nav-container {
    overflow: hidden;
    width:100%;
    position: absolute;
  }

  .nav-logo {
    margin-top: 2rem;
    margin-left: 6rem;
  }

  .menu {
    float: right;
    padding-right: 6rem;
  }

  nav li {
    margin: 0 1rem;
    padding-right: 2rem;
  }
input {
  display: none;
}

.main-nav a:after {
  opacity:0;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 4px;
  width: 0;
  background-color: #7AABD3;
  transition: all .5s;
}

.main-nav li:hover a:after {
  width: 40px;
  opacity: 1;
  transition: all .5s;
}


.banner-image {
  width: 100%;
}



.self-intro-container {
  padding-top: 16rem;
  display: flex;
  justify-content: space-between;
}


.pic {
  margin-left: 24rem;
  position: relative;
}
.my-avatar {
  position: relative;
  top: 0;
  left: 0;
}

.avatar-circle {
  position: absolute;
  top: -1.2rem;
  left: -1.2rem;
}

.introduction {
  margin-right: 24rem;
}

.introduction h1 {
  max-width: 100%;
  font-weight: 600;
  padding-top: 10rem;
  padding-bottom: 3rem;
}

.introduction h2 {
  font-size: 3.2rem;
  font-weight: 500;
}

#name-color {
  color: #7AABD3;
  font-size: 4.2rem;
}

#dorothy {
  font-size: 3.2rem;
  color: #7AABD3;
}

.story-container {
  margin-left: 14rem;
  margin-right: 14rem;
  margin-top: 10rem;
}

.story-container h1 {
  padding-bottom: 5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.p {
  max-width: 95%;
}

.bold-paragraph {
  font-weight: 600;
  font-size: 1.8rem;
}

.img img {
  width: 3rem;
}

.view-resume a {
  padding-left: 6rem;
  font-size: 1.6rem;
}

.contact {
  text-align: center;
  margin-top: 14rem;
  margin-bottom: 14rem;
}

.button {
  display: inline-block;
  background-color: #7AABD3;
  border-radius: 50px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 1.5rem 4rem;
}


/*---------footer------ */
footer {
  position: absolute;
  background-color: #333333;
  height: 8rem;
  width: 100%;
  bottom: 0;
}


.footer-icons {
  display: inline-block;
  float: left;
  margin-left: 5rem;
}

.footer-icons li {
  display: inline-block;
  padding-top: 3rem;
  padding-right: 1rem;
  color: #ffffff;
}




.copyright-info {
  display: inline-block;
  float: right;
  margin-right: 5rem;
  padding-top: 3rem;
  vertical-align: middle;
}

.copyright-info p {
  color: #7AABD3;
  font-size: 1.2rem;
}


/* center the link */
footer > ul {
  font-size: 3rem;
}


@media screen and (max-width: 599px) {
  h2 {
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 2px;
  }

  p {
    font-size: 1.6rem;
  }
  .nav-container {
    padding: 0 0;
    overflow: visible;
  }
  #arrow-back {
    display: block;
  }

  #logo img {
    display: none;
  }
  .nav-logo {
    padding: 2rem;
    margin-top: 0;
    margin-left: 0;
  }



/*--------------------------mobile hamburger menu------------------*/
  .menu a {
    transition: color 0.3s ease;
  }

  .menu a:hover {
    color: #7aabd3;
  }
  .main-nav a:after {
    display: none;
  }
  .main-nav li {
    display: block;
    padding-bottom: 2rem;
  }
  .main-nav li a {
    color: #ffffff;
  }
  .menu {
    padding: 0;
  }

  #menuToggle {
  display: block;
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  }

  #menuToggle input {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

  #menuToggle span {
  display: block;
  width: 2.4rem;
  height: 0.2rem;
  margin-bottom: 4px;
  position: relative;

  background: #333333;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ ul {
  transform: scale(1.0, 1.0);
  opacity: 1;
}

  /*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu-list {
  position: absolute;
  width: 320px;
  height: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #808080; /*color of the menu background*/
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

  .self-intro-container {
    padding-top: 10rem;
    display: block;
  }
  .my-avatar {
    max-width: 100%;
  }
  .avatar-circle {
    top: -1.3rem;
    left: -1.3rem;
    max-width: 110%;
  }
  .pic {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .introduction {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .introduction h1 {
    padding-top: 5rem;
  }
  .introduction h1, h2{
    text-align: center;
    line-height: 5rem;
  }


  footer {
    height: auto;
    padding-bottom: 3rem;
  }

  .footer-icons {
    display: block;
    text-align: center;
    float: none;
    margin-left: 0;
  }

  .copyright-info {
    display: block;
    text-align: center;
    margin-right: 0;
    float: none;
  }
  .story-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .story-container h1 {
    text-align: center;
  }
  .container img {
    max-width: 2.4rem;
  }
  .p {
    max-width: 90%;
  }
  .view-resume a {
    padding-left: 3rem;
  }
  .contact {
    margin-top: 10rem;
  }

}


/*---------------tablet----------- */
@media only screen and (min-width: 751px) and (max-width: 991px) {
  #logo img {
    display: none;
  }
  .nav-logo {
    margin-left: 2.4rem;
  }
  .nav li a {
    font-size: 1.6rem;
  }

  .menu {
    padding-right: 0.4rem;
    padding-top: 2.4rem;
  }
  .pic {
    margin-left: 5rem;
  }
  .introduction {
    margin-right: 2rem;
  }
  .introduction h1 {
    padding-top: 5rem;
  }
  .my-avatar {
    max-width: 90%;
  }
  .avatar-circle {
    top: -1.3rem;
    left: -1.3rem;
    max-width: 100%;
  }
  .story-container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .view-resume a {
    padding-left: 5rem;
  }
  .p {
    max-width: 92%;
  }

}


/*---------media laptop------------- */

@media screen and (min-width: 824px) and (max-width: 1400px) {
  #arrow-back {
    display: none;
  }
  .pic {
    margin-left: 8rem;
  }
  .introduction {
    margin-right: 5rem;
  }
  .story-container {
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .p {
    max-width: 92%;
  }
  .view-resume a {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 1025px) {
  #arrow-back {
    display: none;
  }
}
