* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
    margin: 0;
    position: relative;
    padding-bottom: 60px;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3 {
      font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 4.2rem;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 3.6rem;
  letter-spacing: 0.1rem;
}

p {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}

span {
  font-weight: 600;
  font-size: 1.8rem;
}

/*-----------------nav----------------*/
.nav-logo a i {
  font-size: 2rem;
}

.nav-container {
  overflow: hidden;
  width:100%;
  position: fixed;
  z-index: 2
}



.nav-logo {
  float: left;
  position: relative;
  height: 20px;
  margin: 20px 0px 20px 50px;
}


.menu {
  float: right;
  padding: 40px 50px 30px 0px;
}

/*--------- getting rid of the link underline   --------*/
a:link {
    text-decoration: none;
}

nav li {
  display: inline;
  margin: 0px 30px;
  font-family: 'Oswald', sans-serif;
}

nav li a {
  color: #333333;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}


.main-nav li {
  position: relative;
}

/* .menu-icon img {
  display: none!important;
} */

.nav-container {
    overflow: hidden;
    width:100%;
    position: absolute;
  }

  .nav-logo {
    margin-top: 2rem;
    margin-left: 6rem;
  }

  .menu {
    float: right;
    padding-right: 6rem;
  }

  nav li {
    margin: 0 1rem;
    padding-right: 2rem;
  }


.main-nav a:after {
  opacity:0;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 4px;
  width: 0;
  background-color: #7AABD3;
  transition: all .5s;
}

.main-nav li:hover a:after {
  width: 40px;
  opacity: 1;
  transition: all .5s;
}


.banner-image {
  width: 100%;
}



.self-intro-container {
  padding-top: 16rem;
  display: flex;
  justify-content: space-between;
}


.pic {
  margin-left: 24rem;
  position: relative;
}
.my-avatar {
  position: relative;
  top: 0;
  left: 0;
}

.avatar-circle {
  position: absolute;
  top: -1.2rem;
  left: -1.2rem;
}

.introduction {
  margin-right: 24rem;
}

.introduction h1 {
  max-width: 100%;
  font-weight: 600;
  padding-top: 10rem;
  padding-bottom: 3rem;
}

.introduction h2 {
  font-size: 3.2rem;
  font-weight: 500;
}

#name-color {
  color: #7AABD3;
  font-size: 4.2rem;
}

#dorothy {
  font-size: 3.2rem;
  color: #7AABD3;
}

.story-container {
  margin-left: 14rem;
  margin-right: 14rem;
  margin-top: 10rem;
}

.story-container h1 {
  padding-bottom: 5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.p {
  max-width: 95%;
}

.bold-paragraph {
  font-weight: 600;
  font-size: 1.8rem;
}

.img img {
  width: 3rem;
}

.view-resume a {
  padding-left: 6rem;
  font-size: 1.6rem;
}

.contact {
  text-align: center;
  margin-top: 14rem;
  margin-bottom: 14rem;
}

.button {
  display: inline-block;
  background-color: #7AABD3;
  border-radius: 50px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 1.5rem 4rem;
}


/*---------footer------ */
footer {
  position: absolute;
  background-color: #333333;
  height: 8rem;
  width: 100%;
  bottom: 0;
}


.footer-icons {
  display: inline-block;
  float: left;
  margin-left: 5rem;
}

.footer-icons li {
  display: inline-block;
  padding-top: 3rem;
  padding-right: 1rem;
  color: #ffffff;
}




.copyright-info {
  display: inline-block;
  float: right;
  margin-right: 5rem;
  padding-top: 3rem;
  vertical-align: middle;
}

.copyright-info p {
  color: #7AABD3;
  font-size: 1.2rem;
}


/* center the link */
footer > ul {
  font-size: 3rem;
}


@media screen and (max-width: 750px) {
  h2 {
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 2px;
  }

  p {
    font-size: 1.6rem;
  }
  #logo img {
    display: none;
  }
  .nav-logo {
    margin-top: 2.4rem;
    margin-left: 2.4rem;
  }
  .nav li {
    display: none;
  }
  .self-intro-container {
    padding-top: 10rem;
    display: block;
  }
  .my-avatar {
    max-width: 100%;
  }
  .avatar-circle {
    top: -1.3rem;
    left: -1.3rem;
    max-width: 110%;
  }
  .pic {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .introduction {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .introduction h1 {
    padding-top: 5rem;
  }
  .introduction h1, h2{
    text-align: center;
    line-height: 5rem;
  }


  footer {
    height: auto;
    padding-bottom: 3rem;
  }

  .footer-icons {
    display: block;
    text-align: center;
    float: none;
    margin-left: 0;
  }

  .copyright-info {
    display: block;
    text-align: center;
    margin-right: 0;
    float: none;
  }
  .story-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .story-container h1 {
    text-align: center;
  }
  .container img {
    max-width: 2.4rem;
  }
  .p {
    max-width: 90%;
  }
  .view-resume a {
    padding-left: 3rem;
  }
  .contact {
    margin-top: 10rem;
  }

}


/*---------------tablet----------- */
@media only screen and (min-width: 751px) and (max-width: 991px) {
  #logo img {
    display: none;
  }
  .nav-logo {
    margin-left: 2.4rem;
  }
  .nav li a {
    font-size: 1.6rem;
  }

  .menu {
    padding-right: 0.4rem;
    padding-top: 2.4rem;
  }
  .pic {
    margin-left: 5rem;
  }
  .introduction {
    margin-right: 2rem;
  }
  .introduction h1 {
    padding-top: 5rem;
  }
  .my-avatar {
    max-width: 90%;
  }
  .avatar-circle {
    top: -1.3rem;
    left: -1.3rem;
    max-width: 100%;
  }
  .story-container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .view-resume a {
    padding-left: 5rem;
  }
  .p {
    max-width: 92%;
  }

}


/*---------media laptop------------- */

@media screen and (min-width: 824px) and (max-width: 1024px) {
  #arrow-back {
    display: none;
  }
  .pic {
    margin-left: 8rem;
  }
  .introduction {
    margin-right: 5rem;
  }
  .story-container {
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .p {
    max-width: 92%;
  }
}

@media screen and (min-width: 1025px) {
  #arrow-back {
    display: none;
  }
}
