html {
  font-size: 10px;
}


header {
  background : url(../images/background-image.jpg) center / cover;
  height: 80vh;
  justify-content: center;
  text-align: center;
}

body {
    margin: 0;
    position: relative;
    padding-bottom: 60px;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3 {
      font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

/* nav bar  */
.nav-container {
  overflow: hidden;
  width:100%;
  position: fixed;
  z-index: 2
}



.nav-logo {
  float: left;
  position: relative;
  height: 20px;
  margin: 20px 0px 20px 50px;
}


.menu {
  float: right;
  padding: 40px 50px 30px 0px;
}

/*--------- getting rid of the link underline   --------*/
a:link {
    text-decoration: none;
}

nav li {
  display: inline;
  margin: 0px 30px;
  font-family: 'Oswald', sans-serif;
}

nav li a {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}


.main-nav li {
  position: relative;
}

/* .menu-icon img {
  display: none!important;
} */

.nav-container {
    overflow: hidden;
    width:100%;
    position: absolute;
  }

  .nav-logo {
    margin-top: 2rem;
    margin-left: 6rem;
  }

  .menu {
    float: right;
    padding-right: 6rem;
  }

  nav li {
    margin: 0 1rem;
    padding-right: 2rem;
  }


.main-nav a:after {
  opacity:0;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 4px;
  width: 0;
  background-color: #7AABD3;
  transition: all .5s;
}

.main-nav li:hover a:after {
  width: 40px;
  opacity: 1;
  transition: all .5s;
}

/* hero section  */
.hero-container {
  background-image: url("../images/herobanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70rem;
}


.hero-content {
    margin-left: 14rem;
}



.hero-content h1 {
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding-top: 20rem;
}
.hero-content span {
  font-size:2.4rem;
}



.hero-content h3 {
  color: #ffffff;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  margin-top: 2rem;
  padding-top: 3rem;
}

.hero-content p {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;
  max-width: 750px;
  padding-top: 8rem;
}

/* button styles */
.hero-buttons {
  margin-top: 10rem;
  margin-left: 14rem;
}

.button {
  display: inline-block;
  background-color: #7AABD3;
  border-radius: 50px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 1.5rem 4rem;
}

.button2 {
  display: inline-block;
  border-radius: 50px;
  border: 2px solid #7AABD3;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 10rem;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 1.5rem 4rem;
}

/* projects */
.projects-container {
  margin-left: 8rem;
  margin-top: 14rem;
}


.projects-container h2 {
 font-size: 3.6rem;
 font-weight: 500;
 letter-spacing: 0.2rem;
 margin-bottom: 4rem;
}

.project-showcase {
  display: inline-block;
  position: relative;
  width: auto;
  overflow: hidden;
}
.showcase {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 35rem;
}



.showcase img {
  width: 100%;
  max-width: 55rem;
  height: 35rem;
  transition: 0.5s;
}

.project-showcase:hover .showcase img {
    transform: scale(1.2);
    opacity: 0.8;
}

.project-showcase:hover .hover-overlay {
  background: #118888;
  opacity: 0.8;
}

.hover-overlay {
    box-sizing: border-box;
    top: 0;
    position: absolute;
    width: 100%;
    height: 35rem;
    opacity: 0;
}

/* second project hover */

.project-showcase:hover .hover-overlay2 {
  background: #F2797F;
  opacity: 0.8;
}

.hover-overlay2 {
    box-sizing: border-box;
    top: 0;
    position: absolute;
    width: 100%;
    height: 35rem;
    opacity: 0;
}




.hover-text {
  color: white;
  font-size: 1.8rem;
  position: absolute;
  top: 45%;
  left: 25%;
  -webkit-transition: all .3s ease;
  text-align: center;
  opacity: 0;
}

.project-showcase:hover .hover-text {
  opacity: 1;
}

.hover-text-weather-app {
  color: white;
  font-size: 1.8rem;
  position: absolute;
  top: 45%;
  left: 40%;
  -webkit-transition: all .3s ease;
  text-align: center;
  opacity: 0;
}


.project-showcase:hover .hover-text-weather-app {
  opacity: 1
}


.hover-text h3 {
    font-size: 2.4rem;
}

.hover-text p {
  padding-top: .8rem;
}

.hover-text-weather-app h3 {
    font-size: 2.4rem;
}

/* Process */

.process-container {
  margin-top: 14rem;
  background-image: url("../images/process-background.png");
  background-size: cover;
  height: auto;
  padding-bottom: 8rem;
}

.process-content {
  padding: 10rem 14rem;

}

.process-container p {
  color: #ffffff;
  font-size: 2.4rem;
  display: inline-block;
  letter-spacing: 1px;
  max-width: 40rem;
  line-height: 4rem;
  padding-top: 4rem;
}


.process-container span {
  font-size: 3.2rem;
  font-weight: 600;
}

.illustration {
  display: inline-block;
  float: right;
}

.illustration img {
  display: block;
  width: 45rem;
  height: auto;
  margin: 0 auto;
}


.contact {
  text-align: center;
  margin-top: 140px;
  margin-bottom: 140px;
}

.contact h1{
  font-size: 4rem;
  padding-bottom: 4rem;
}

/* -------------footer style --------------------- */
/* keeping it at the bottom of the page regardless of where the user's scrollbar is */

footer {
  position: absolute;
  background-color: #333333;
  height: 8rem;
  width: 100%;
  bottom: 0;
}


.footer-icons {
  display: inline-block;
  float: left;
  margin-left: 5rem;
}

.footer-icons li {
  display: inline-block;
  padding-top: 3rem;
  padding-right: 1rem;
  color: #ffffff;
}




.copyright-info {
  display: inline-block;
  float: right;
  margin-right: 5rem;
  padding-top: 3rem;
  vertical-align: middle;
}

.copyright-info p {
  color: #7AABD3;
  font-size: 1.2rem;
}


/* center the link */
footer > ul {
  font-size: 3rem;
}


/*------------mobile------------------- */
@media screen and (max-width: 425px) {

  .nav-container {
    background-color: transparent;
    overflow: hidden;
    width:100%;
    position: absolute;
  }

  .menu {
    padding-top: 3rem;
  }

  .nav-logo {
    margin-top: 2.4rem;
    margin-left: 1.6rem;
  }

  .nav-logo img {
    width: 3rem;
  }

  .nav li {
    display: none;
  }
  .menu-icon {
    display: inline-block;
    padding-right: 1rem;
  }

  .hero-container {
    background-image: url("../images/mobile-background.png");
    background-size: 100% 100%;
    padding-bottom: 6rem;
  }

  .hero-content {
    margin-right: 3rem;
    margin-left: 3rem;
  }

  .hero-content h1 {
    padding-top: 12rem;
  }
  .hero-content p {
    padding-top: 4rem;
  }

  .hero-buttons{
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .button {
    display: block;
    margin-bottom: 3rem;
  }
  .button2 {
    display: block;
    margin-left: 0;
  }

  .projects-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10rem;
  }
  .projects-container h2 {
    text-align: center;
  }

  .project-showcase {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .hover-text {
    left: 12%;
    }

  .hover-text-weather-app {
      left: 35%;
    }

  .process-container {
      margin-top: 0;
      height: 52rem;
    }
  .process-content {
      padding-top: 5rem;
      padding-left: 0;
      padding-right: 0;
    }

  .process-container p {
      display: block;
      font-size: 1.8rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 0;
      text-align: center;
    }
  .process-container span {
      font-size: 2.4rem;
    }

  .illustration {
      display: block;
      padding-top: 5rem;
      margin-right: 0;
    }

  .illustration img {
      width: 85%;
      text-align: center;
      margin: 0 auto;
      padding: 0;
    }

  .contact {
      margin-top: 8rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }

  .contact h1 {
      font-size: 3.2rem;
    }

    footer {
      height: auto;
      padding-bottom: 3rem;
    }

    .footer-icons {
      display: block;
      text-align: center;
      float: none;
      margin-left: 0;
    }

    .copyright-info {
      display: block;
      text-align: center;
      margin-right: 0;
      float: none;
    }
}



/*--------- tablet --------------*/
@media only screen and (min-width:424px) and (max-width:768px) {
  .hero-content {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .hero-buttons{
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .projects-container {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 14rem;
  }

  .project-showcase {
    display: block;
  }
  .showcase img {
    max-width: 100%;
  }

  .hover-text-weather-app {
    left: 40%;
    }

  .process-container {
      margin-top: 8rem;
      height: 68rem;
    }

  .process-container p {
      display: block;
      max-width: 55rem;
      padding-top: 8rem;
    }

  .illustration {
      display: block;
      padding-top: 5rem;
      width: 100%;
    }
}
/*
@media screen and (max-width: 1400px) {
   header {
     display: flex;
   }
 } */
