html {
  font-size: 10px;
}

header {
  background : url(../images/background-image.jpg) center / cover;
  height: 80vh;
  justify-content: center;
  text-align: center;
}

body {
    margin: 0;
    position: relative;
    padding-bottom: 60px;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
      font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

/* nav bar  */
.nav-container {
  background-color: #333333;
  overflow: hidden;
  width:100%;
  position: fixed;
  z-index: 2
}

.nav-logo {
  float: left;
  position: relative;
  height: 20px;
  margin: 20px 0px 20px 50px;
}


.menu {
  float: right;
  padding: 40px 50px 30px 0px;

}

/* getting rid of the link underline   */
a:link {
    text-decoration: none;
}

nav li {
  display: inline;
  margin: 0px 30px;
  font-family: 'Oswald', sans-serif;
}

nav li a {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}


.main-nav li {
  position: relative;
}


.main-nav a:after {
  opacity:0;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 4px;
  width: 0;
  background-color: #7AABD3;
  transition: all .5s;
}

.main-nav li:hover a:after {
  width: 40px;
  opacity: 1;
  transition: all .5s;
}

/* hero section  */
.hero-container {
  background-image: url("../images/herobanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.hero-content h1 {
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding-left: 14rem;
  padding-top: 20rem;
}

.hero-content span {
  font-size:2.4rem;
}

.hero-content h3 {
  color: #ffffff;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  margin-top: 2rem;
  padding-left: 14rem;
  padding-top: 3rem;
}

.hero-content p {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;
  max-width: 750px;
  padding-left: 14rem;
  padding-top: 8rem;
}

/* button stles */
.hero-buttons {
  margin-top: 10rem;
  margin-left: 14rem;
}

.button {
  display: inline-block;
  background-color: #7AABD3;
  border-radius: 50px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  /* width: 150px; */
  text-align: center;
  padding: 1.5rem 4rem;
}

.button2 {
  display: inline-block;
  /* background-color: #7AABD3; */
  border-radius: 50px;
  border: 2px solid #7AABD3;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 10rem;
  letter-spacing: 0.2rem;
  /* width: 150px; */
  text-align: center;
  padding: 1.5rem 4rem;
}



/* projects */
.projects-container {
  margin-left: 8rem;
  margin-top: 14rem;
}

.projects-container h2 {
 font-size: 3.6rem;
 font-weight: 500;
 letter-spacing: 0.2rem;
 margin-bottom: 4rem;

}

.project-showcase {
  display: inline-block;
  position: relative;
  width: auto;
  overflow: hidden;
}

.showcase {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 35rem;

}


.showcase img {
  width: 100%;
  max-width: 55rem ;
  height: 35rem;
  transition: 0.5s;
}

.project-showcase:hover .showcase img {
    transform: scale(1.2);
    opacity: 0.8;
}

.project-showcase:hover .hover-overlay {
  background: #118888;
  opacity: 0.8;
}

.hover-overlay {
    box-sizing: border-box;
    top: 0;
    position: absolute;
    width: 100%;
    height: 35rem;
    opacity: 0;
}

/* second project hover */

.project-showcase:hover .hover-overlay2 {
  background: #F2797F;
  opacity: 0.8;
}

.hover-overlay2 {
    box-sizing: border-box;
    top: 0;
    position: absolute;
    width: 100%;
    height: 35rem;
    opacity: 0;
}




.hover-text {
  color: white;
  font-size: 1.8rem;
  position: absolute;
  top: 45%;
  left: 25%;
  -webkit-transition: all .3s ease;
  text-align: center;
  opacity: 0;
}

.project-showcase:hover .hover-text {
  opacity: 1;
}

.hover-text-weather-app {
  color: white;
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transition: all .3s ease;
  text-align: center;
  opacity: 0;
}


.project-showcase:hover .hover-text-weather-app {
  opacity: 1
}


.hover-text h3 {
    font-size: 2.4rem;
}

.hover-text p {
  padding-top: .8rem;
}

.hover-text-weather-app h3 {
    font-size: 2.4rem;
}

.process-container {
  margin-top: 14rem;
  padding-left: 8rem;
  padding-top: 8rem;
  background-image: url("../images/process-background.png");
  background-size: cover;
  height: 42rem;
}

.process-container p {
  color: #ffffff;
  font-size: 2.4rem;
  display: inline-block;
  letter-spacing: 1px;
  max-width: 400px;
  line-height: 4rem;
  padding-left: 10rem;
  padding-top: 4rem;
}

.process-container span {
  font-size: 3.2rem;
  font-weight: 500;
}

.illustration {
  display: inline-block;
  float: right;
  margin-right: 8rem;
  padding-bottom: 10rem;
  top: 50%;
}

.illustration img {
  width: 45rem;
  height: auto;
  padding-right: 10rem;
}

.contact {
  text-align: center;
  margin-top: 140px;
  margin-bottom: 140px;
}

.contact h1{
  font-size: 4rem;
  padding-bottom: 4rem;
}

/* setting max width so the page won't span the full width of the page on large screen */
main {
  max-width: 900px
}

/* footer style  */
/* keeping it at the bottom of the page regardless of where the user's scrollbar is */

footer {
  position: absolute;
  background-color: #333333;
  height: 8rem;
  width: 100%;
  bottom: 0;
}

.footer-icons {
  display: inline-block;
  float: left;
  margin-left: 5rem;
}

.footer-icons li {
  display: inline-block;
  padding-top: 3rem;
  padding-left: 1rem;
  color: #ffffff;
}



.copyright-info {
  display: inline-block;
  float: right;
  margin-right: 5rem;
  padding-top: 3rem;
  vertical-align: middle;
}

.copyright-info p {
  color: #7AABD3;
  font-size: 1.2rem;
}


/* body {
  padding-bottom: 5rem;
} */

/* center the link */
footer > ul {
  margin: auto; /* the oldest horizontal centering trick */
  font-size: 3rem;
}

@media screen and (max-width: 1024px) {
   header {
     display: flex;
   }
 }
