html {
  font-size: 10px;
}


header {
  background : url(../images/background-image.jpg) center / cover;
  height: 80vh;
  justify-content: center;
  text-align: center;
}

body {
    margin: 0;
    position: relative;
    padding-bottom: 60px;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3 {
      font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 4rem;
}
h2 {
   font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-family: 'Raleway', sans-serif;
}


.nav-container {
    overflow: hidden;
    width:100%;
    position: absolute;
    padding: 3rem 5rem;
    z-index: 2
  }



.nav-logo {
  float: left;
  position: relative;
  height: 20px;
}

input {
  display: none;
}


.menu {
  float: right;
  padding-top: 3rem;
}

/*--------- getting rid of the link underline   --------*/
a:link {
    text-decoration: none;
}

nav li {
  display: inline;
  margin: 0px 30px;
  font-family: 'Oswald', sans-serif;
}

nav li a {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}


.main-nav li {
  position: relative;
}

.nav-logo {
    margin-top: 2rem;
}

nav {
  margin-right: 8rem;
}

  nav li {
    margin: 0 1rem;
    padding-right: 2rem;
  }


.main-nav a:after {
  opacity:0;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 4px;
  width: 0;
  background-color: #7AABD3;
  transition: all .5s;
}

.main-nav li:hover a:after {
  width: 40px;
  opacity: 1;
  transition: all .5s;
}

/* hero section  */
.hero-container {
  background-image: url("../images/herobanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70rem;
  padding-left: 14rem;
}



.hero-content h1 {
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding-top: 20rem;
}
.hero-content span {
  font-size:2.4rem;
}



.hero-content h3 {
  color: #ffffff;
  letter-spacing: 0.2rem;
  margin-top: 3rem;
  text-transform: uppercase;
}

.hero-content p {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;
  max-width: 50%;
  padding-top: 8rem;
}

/* button styles */
.buttons {
  display: flex;
  margin-top: 8%;
}

.button {
  display: inline-block;
  background-color: #7AABD3;
  border-radius: 50px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 1.5rem 4rem;
}
#social-icons {
  font-size: 5rem;
  margin-left: 5rem;
}
#social-icons li {
  padding-right: 3rem;
  padding-top: 0;
}


/* projects */
.projects-container {
  margin-top: 14rem;
}


.projects-container h2 {
 font-weight: 500;
 letter-spacing: 0.2rem;
 margin-bottom: 4rem;
 text-align: center;
 text-transform: uppercase;
}
.projects-wrapper {
  display: flex;
}

.project-showcase {
  background-size: cover;
  background-position: 50%;
  display: inline-block;
  height: 35rem;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.project-showcase.nova {
  background-image: url("../images/nova/nova.png");
}
.project-showcase.weather-app {
  background-image: url("../images/weather_app.png");

}
.project-showcase.trading-app {
  background-image: url("../images/trading.png");
}

.showcase img {
  max-width: 100%;
  height: 35rem;
  transition: 0.5s;
}

.project-showcase:hover .showcase img {
    transform: scale(1.2);
    opacity: 0.8;
}

.project-showcase:hover .hover-overlay {
  opacity: 0.8;
}

.hover-overlay.green-bg {
  background: #118888;
}

.hover-overlay.peach-bg {
  background: #F2797F;
}

.hover-overlay.purple-bg {
  background: #5a3f7f;
}

.hover-overlay {
    box-sizing: border-box;
    display: flex;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.hover-overlay a {
  display: flex;
  width: 100%;
  height: 100%;
}

.hover-text {
  color: white;
  font-size: 1.8rem;
  margin:auto;
  -webkit-transition: all .3s ease;
  text-align: center;
  opacity: 0;
}

.project-showcase:hover .hover-text {
  opacity: 1;
}

.hover-text p {
  padding-top: 1rem;
}


/* Process */

.process-container {
  background-image: url("../images/process-background.png");
  background-size: cover;
  height: auto;
  padding-bottom: 10rem;
}

.process-content {
  padding: 10%;
}

.process-container p {
  color: #ffffff;
  font-size: 2.4rem;
  display: inline-block;
  letter-spacing: 1px;
  max-width: 45%;
  line-height: 4rem;
  padding-top: 4rem;
}


.process-container span {
  font-size: 3.2rem;
  font-weight: 600;
}

.illustration {
  display: inline-block;
  float: right;
}

.illustration img {
  display: block;
  width: 45rem;
  height: auto;
  margin: 0 auto;
}


.contact {
  text-align: center;
  margin-top: 14rem;
  margin-bottom: 14rem;
}

.contact h1{
  padding-bottom: 4rem;
}

/* -------------footer style --------------------- */
/* keeping it at the bottom of the page regardless of where the user's scrollbar is */

footer {
  position: absolute;
  background-color: #333333;
  height: 8rem;
  width: 100%;
  bottom: 0;
}


.footer-icons {
  display: inline-block;
  float: left;
  margin-left: 5rem;
}

.footer-icons li {
  display: inline-block;
  padding-top: 3rem;
  padding-right: 1rem;
  color: #ffffff;
}




.copyright-info {
  display: inline-block;
  float: right;
  margin-right: 5rem;
  padding-top: 3rem;
  vertical-align: middle;
}

.copyright-info p {
  color: #7AABD3;
  font-size: 1.2rem;
}


/* center the link */
footer > ul {
  font-size: 3rem;
}


/*------------mobile------------------- */
@media screen and (max-width: 599px) {

  .nav-container {
    padding: 0 0;
    overflow: visible;
  }

  #arrow-back {
    display: none;
  }
  .nav-logo {
    padding: 2rem;
  }
/*--------------------------mobile hamburger menu------------------*/
  .menu a {
    transition: color 0.3s ease;
  }

  .menu a:hover {
    color: #7aabd3;
  }
  .main-nav a:after {
    display: none;
  }
  .main-nav li {
    display: block;
    padding-bottom: 2rem;
  }
  .main-nav li a {
    color: #ffffff;
  }

  #menuToggle {
  display: block;
  position: absolute;
  top: 0;
  right: 1.8rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  }

  #menuToggle input {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

  #menuToggle span {
  display: block;
  width: 2.4rem;
  height: 0.2rem;
  margin-bottom: 4px;
  position: relative;

  background: #333333;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ ul {
  transform: scale(1.0, 1.0);
  opacity: 1;
}

  /*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu-list {
  position: absolute;
  width: 320px;
  height: 100px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #C33764; /*color of the menu background*/
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
  .menu-icon {
    display: inline-block;
    padding-right: 1rem;
  }

  .hero-container {
    background-image: url("../images/mobile-background.png");
    background-size: 100% 100%;
    padding-bottom: 6rem;
    padding-left: 0;
  }

  .hero-content {
    margin-right: 3rem;
    margin-left: 3rem;
  }

  .hero-content h1 {
    padding-top: 12rem;
  }
  .hero-content p {
    max-width: 100%;
    padding-top: 4rem;
  }
  .buttons {
    display: block;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 20%;
  }
  .hero-button {
    margin-top: 5rem;
  }

  .button {
    display: block;
    margin-bottom: 3rem;
  }
  .social {
    margin-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
  }
  #social-icons {
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    font-size: 4rem;
  }
  #social-icons li {
    padding-right: 0;
  }

  .projects-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10rem;
  }
  .projects-container h2 {
    text-align: center;
  }
  .projects-wrapper {
    display: block;
  }

  .project-showcase {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .show-case img {
    width: 100%;
  }

  .process-container {
      margin-top: 0;
      height: 52rem;
    }
  .process-content {
      padding-top: 5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

  .process-container p {
      display: block;
      font-size: 1.8rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 0;
      text-align: center;
      max-width: 100%;
    }
  .process-container span {
      font-size: 2.4rem;
    }

  .illustration {
      display: block;
      padding-top: 5rem;
      margin-right: 0;
    }

  .illustration img {
      width: 85%;
      text-align: center;
      margin: 0 auto;
      padding: 0;
    }

  .contact {
      margin-top: 8rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }

  .contact h1 {
      font-size: 3.2rem;
    }

    footer {
      height: auto;
      padding-bottom: 3rem;
    }

    .footer-icons {
      display: block;
      text-align: center;
      float: none;
      margin-left: 0;
    }

    .copyright-info {
      display: block;
      text-align: center;
      margin-right: 0;
      float: none;
    }
}



/*--------- tablet --------------*/
@media only screen and (min-width: 600px) and (max-width: 991px) {
  .hero-container {
    padding-left: 5rem;

  }

  .hero-content {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .hero-content p {
    max-width: 100%;
  }

  .hero-button {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .projects-container {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 10rem;
  }
  .projects-wrapper {
    display: block;
  }

  .project-showcase {
    display: block;
  }
  .showcase img {
    width: 100%
  }
  .process-container {
      margin-top: 8rem;
      height: 58rem;
    }

  .process-content {
    padding: 8rem 8rem;
  }

  .process-content p {
      display: block;
      max-width: 100%;
      padding-top: 0;
    }

  .illustration {
      display: block;
      padding-top: 5rem;
      width: 100%;
    }
  .contact {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1100px) {
  .process-content {
    padding: 8%;
  }
}
