
html {
  font-size: 10px;
}

header {
  background : url(../images/background-image.jpg) center / cover;
  height: 80vh;
  justify-content: center;
  text-align: center;
}

body {
    margin: 0;
    position: relative;
    padding-bottom: 6rem;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
      font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}



.banner-image {
  width: 100%;
}

/* intro section */

.intro {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 10rem 8rem;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.intro-text p {
  max-width: 80rem;
}


.intro h2 {
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
}

/* #para-container {
  margin-left: 25rem;
  max-width: 60%;
  line-height: 2rem;
} */

.intro p {
  padding-top: 4rem;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}


.roles-tools-container {
  width: 100%;
  background-color: #CDD4DC;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 20rem;
}

.roles {
  padding-bottom: 5rem;
}

.roles h3 {
  text-align: left;
  letter-spacing: 0.1rem;
  font-size: 2.4rem;
}

.roles-content ul {
  padding-top: 3rem;
}

.roles-content ul li {
  display: inline-block;
}

.roles-content li {
  font-size: 1.8rem;
  padding-right: 3rem;
  letter-spacing: 0.1rem;
}

.tools h3 {
  text-align: left;
  letter-spacing: 0.1rem;
  font-size: 2.4rem;
}

.tools-content li {
  display: block;
}

.icons li{
  display: inline-block;
  padding-right: 4rem;
  padding-top: 3rem;
  font-size: 1.8rem;
}

.icons li img {
  padding-left: .5rem;
  width: 3rem;
}

.icon li h5 {
  font-size: 1.4rem;
}

.tool-names li {
  display: inline-block;
  font-size: 1.4rem;
  padding-right: 3rem;
  padding-top: 3rem;
}




/* case study details */

.case-study-container {
  margin-left: 12rem;
  margin-right: 12rem;
  margin-top: 14rem;
}

.overview-header {
  padding-bottom: 5rem;
}
.overview {
  display: flex;
  justify-content: space-between;
}

.overview-header {

}



.overview-header h2 {
  font-size: 2.4rem;
  line-height: 3rem;
  padding-bottom: 1rem;
  border-bottom: 5px solid #7AABD3;
}



.overview-text p {
  font-size: 1.8rem;
  line-height: 3rem;
  max-width: 60%;


}




@media screen and (max-width: 1024px) {
   header {
     display: flex;
   }
 }
